In [1]:
import pandas as pd
import folium

In [3]:
%%sql
SELECT
    nome_produtor,
    producao_estimada,
    latitude,
    longitude
FROM
    divtec_dpic
JOIN divtec_dpic_detalhes ON divtec_dpic.dpic_controle = divtec_dpic_detalhes.dpic_controle
WHERE latitude IS NOT NULL;

,nome_produtor,producao_estimada,latitude,longitude
0,0111175-ANTONIO NATALINO DILL,227.0,-29.791315,-51.685231
1,0115144-FERNANDA GRACIELE LOPES ESSVIEN,211.6,-29.520350,-51.361104
2,0117025-FABIO MACHADO DA SILVA,210.0,-29.749510,-51.536289
3,0117023-VANDERLEI SOUZA PEREIRA,120.0,-30.115509,-51.422790
4,0101694-ANTONIO GILSANO ALFF GUEWER,1150.0,-29.897823,-51.628645
...,...,...,...,...
68,0114794-MARCO AURELIO DA SILVA SALVADOR,750.0,-30.391400,-51.392474
69,0117051-MANOEL VANDERLEI SOUZA BRITO,62.1,-29.737842,-51.665729
70,0117050-ELIAS DA SILVA CAMPOS,115.0,-29.853641,-51.477716
71,0116380-LINDOMAR SOUZA DE ABREU,180.0,-30.265276,-51.485784
72,0100400-TEODORO VIEIRA LOPES NETO,138.0,-29.802866,-51.517996

In [4]:
rs = folium.Map(location = [-29.5864592, -52.1510947], tiles='OpenStreetMap', name='OpenStreetMap',zoom_start = 8)
folium.TileLayer(
	tiles='https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
	attr='Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
	name='Esri World Imagery',
	overlay=True,
	control=True
).add_to(rs)


for i, row in df_geo.iterrows():
	folium.Marker(
		location=[float(row['latitude']), float(row['longitude'])],
		popup=f"""
			<h5>{row['nome_produtor']}</h5><br>
			<p>Produção estimada: {row['producao_estimada']} <i>(toneladas)</i></p>
"""

	).add_to(rs)

folium.LayerControl().add_to(rs)
rs.save('Mapa Produtores de Melancia.html')
# rs