In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.2f}'.format
import datetime as dt

In [14]:
dados = pd.read_csv(r"../dados/dados2023 sem matricula.csv", sep=';', decimal=',', thousands='.')
dados['data'] = dados['data'].astype('datetime64[ns]')
dados

,data,nota_fiscal,procedencia,destino,produto,unidade,quantidade,atac_gnp,peso_kg,volume,cotação,valor comercializado,estado,corede,pais
0,2023-12-01,11235,0142218-CHAPADAO DO LAGEADO (SC),5500935-CPA SUL COM. PROD. AGRIC,07603-ALHO NACIONAL,0,13390,ATACADISTA,1.00,13390.00,22.00,294580.00,SANTA CATARINA,0,BRASIL
1,2023-12-01,780134,0143119-SAO FRANCISCO DE PAULA (RS),0101215-ANDRE FERNANDO D AGOSTIN,08102-CENOURA,2,3200,GNP,20.00,64000.00,4.31,275840.00,RIO GRANDE DO SUL,HORTENSIAS,BRASIL
2,2023-12-01,22609,0132062-VENDA NOVA DO IMIGRANTE (ES),5500893-TROPICAL COMERCIO DE PRO,07404-TOMATE CAQUI LONGA VIDA,0,28000,ATACADISTA,1.00,28000.00,6.28,175840.00,ESPIRITO SANTO,0,BRASIL
3,2023-12-01,7901535,0127043-JUNQUEIRO (AL),5500728-VOLNEI LUIZ MAGGIONI- M,00202-ABACAXI PEROLA,4,23000,ATACADISTA,1.30,29900.00,5.48,163990.00,ALAGOAS,0,BRASIL
4,2023-12-01,13537,2200000-(ESPANHA),5500240-A. FLOR IMPORT. EXPORT.,02755-PERA WILLIAMS / PACKAMS,0,16800,ATACADISTA,1.00,16800.00,9.31,156408.00,ESPANHA,0,EXTERIOR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393079,2023-01-31,2954,0143213-PORTAO (RS),5500841-CONCEICAO DA ROSA MOLLER,54601-ROSA VERMELHA 20UN,5,2,ATACADISTA,0.34,0.68,74.96,50.97,RIO GRANDE DO SUL,VALE DO RIO DOS SINOS,BRASIL
393080,2023-01-02,609648,0143024-CANOAS (RS),0100037-YOSHIHIRO TAKEUCHI,12301-FLORES COMESTIVEIS,4,15,GNP,0.03,0.45,300.00,135.00,RIO GRANDE DO SUL,VALE DO RIO DOS SINOS,BRASIL
393081,2023-01-19,897108,0135574-HOLAMBRA (SP),5500030-SAO PAULO SUL FLORES LTD,52601-SUCULENTAS,4,4,ATACADISTA,0.10,0.40,99.33,39.73,SAO PAULO,0,BRASIL
393082,2023-01-12,74826,0143035-DOIS IRMAOS (RS),5500030-SAO PAULO SUL FLORES LTD,10201-ALECRIM,8,2,ATACADISTA,0.18,0.36,11.11,4.00,RIO GRANDE DO SUL,VALE DO RIO DOS SINOS,BRASIL
393083,2023-01-26,74871,0143035-DOIS IRMAOS (RS),5500983-ILHA DAS FLORES COM. ATA,51502-GIRASSOL 6UN,8,1,ATACADISTA,0.30,0.30,95.96,28.79,RIO GRANDE DO SUL,VALE DO RIO DOS SINOS,BRASIL

In [15]:
produtos_grupos = pd.read_csv('../dados/produtos.csv')

In [16]:
produtos_grupos = produtos_grupos[['produto','grupo','categoria','setor']]

In [17]:
df = pd.merge(left=dados, right=produtos_grupos, how='left', on='produto')

In [18]:
df

,data,nota_fiscal,procedencia,destino,produto,unidade,quantidade,atac_gnp,peso_kg,volume,cotação,valor comercializado,estado,corede,pais,grupo,categoria,setor
0,2023-12-01,11235,0142218-CHAPADAO DO LAGEADO (SC),5500935-CPA SUL COM. PROD. AGRIC,07603-ALHO NACIONAL,0,13390,ATACADISTA,1.00,13390.00,22.00,294580.00,SANTA CATARINA,0,BRASIL,HORTALICAS,ALHO,HORTIGRANJEIROS
1,2023-12-01,780134,0143119-SAO FRANCISCO DE PAULA (RS),0101215-ANDRE FERNANDO D AGOSTIN,08102-CENOURA,2,3200,GNP,20.00,64000.00,4.31,275840.00,RIO GRANDE DO SUL,HORTENSIAS,BRASIL,HORTALICAS,CENOURA,HORTIGRANJEIROS
2,2023-12-01,22609,0132062-VENDA NOVA DO IMIGRANTE (ES),5500893-TROPICAL COMERCIO DE PRO,07404-TOMATE CAQUI LONGA VIDA,0,28000,ATACADISTA,1.00,28000.00,6.28,175840.00,ESPIRITO SANTO,0,BRASIL,HORTALICAS,TOMATE,HORTIGRANJEIROS
3,2023-12-01,7901535,0127043-JUNQUEIRO (AL),5500728-VOLNEI LUIZ MAGGIONI- M,00202-ABACAXI PEROLA,4,23000,ATACADISTA,1.30,29900.00,5.48,163990.00,ALAGOAS,0,BRASIL,FRUTAS,ABACAXI,HORTIGRANJEIROS
4,2023-12-01,13537,2200000-(ESPANHA),5500240-A. FLOR IMPORT. EXPORT.,02755-PERA WILLIAMS / PACKAMS,0,16800,ATACADISTA,1.00,16800.00,9.31,156408.00,ESPANHA,0,EXTERIOR,FRUTAS,PERA,HORTIGRANJEIROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393079,2023-01-31,2954,0143213-PORTAO (RS),5500841-CONCEICAO DA ROSA MOLLER,54601-ROSA VERMELHA 20UN,5,2,ATACADISTA,0.34,0.68,74.96,50.97,RIO GRANDE DO SUL,VALE DO RIO DOS SINOS,BRASIL,FLORES,ROSA,HORTIGRANJEIROS
393080,2023-01-02,609648,0143024-CANOAS (RS),0100037-YOSHIHIRO TAKEUCHI,12301-FLORES COMESTIVEIS,4,15,GNP,0.03,0.45,300.00,135.00,RIO GRANDE DO SUL,VALE DO RIO DOS SINOS,BRASIL,FLORES,FLORES,HORTIGRANJEIROS
393081,2023-01-19,897108,0135574-HOLAMBRA (SP),5500030-SAO PAULO SUL FLORES LTD,52601-SUCULENTAS,4,4,ATACADISTA,0.10,0.40,99.33,39.73,SAO PAULO,0,BRASIL,FLORES,SUCULENTAS,HORTIGRANJEIROS
393082,2023-01-12,74826,0143035-DOIS IRMAOS (RS),5500030-SAO PAULO SUL FLORES LTD,10201-ALECRIM,8,2,ATACADISTA,0.18,0.36,11.11,4.00,RIO GRANDE DO SUL,VALE DO RIO DOS SINOS,BRASIL,HORTALICAS,ALECRIM,HORTIGRANJEIROS
393083,2023-01-26,74871,0143035-DOIS IRMAOS (RS),5500983-ILHA DAS FLORES COM. ATA,51502-GIRASSOL 6UN,8,1,ATACADISTA,0.30,0.30,95.96,28.79,RIO GRANDE DO SUL,VALE DO RIO DOS SINOS,BRASIL,FLORES,GIRASSOL,HORTIGRANJEIROS

In [19]:
df['mes'] = df['data'].dt.month
df = df[['mes','produto','categoria','grupo','setor','volume','valor comercializado','cotação','procedencia','estado','atac_gnp']]

In [20]:
df_cotacao = df.groupby(['mes','categoria','produto'])[['cotação']].mean().reset_index()
df_cotacao = df_cotacao.groupby(['categoria','produto'])[['cotação']].mean().reset_index()

df_valor_volume = df.groupby(['mes','categoria','produto','procedencia','estado','atac_gnp'])[['volume','valor comercializado']].sum().reset_index()

In [21]:
df_final = pd.merge(left=df_valor_volume, right=df_cotacao, how='inner', on=['categoria','produto'])

In [22]:
df_final

,mes,categoria,produto,procedencia,estado,atac_gnp,volume,valor comercializado,cotação
0,1,ABACATE,00101-ABACATE,0135503-SAO PAULO (SP),SAO PAULO,ATACADISTA,8200.00,45231.20,4.25
1,1,ABACATE,00101-ABACATE,0141052-CARLOPOLIS (PR),PARANA,ATACADISTA,9900.00,54608.40,4.25
2,1,ABACATE,00101-ABACATE,0143045-FARROUPILHA (RS),RIO GRANDE DO SUL,ATACADISTA,2070.00,11418.12,4.25
3,1,ABACATE,00101-ABACATE,0143045-FARROUPILHA (RS),RIO GRANDE DO SUL,GNP,198.00,1092.17,4.25
4,1,ABACATE,00101-ABACATE,0143048-FLORES DA CUNHA (RS),RIO GRANDE DO SUL,ATACADISTA,900.00,4964.40,4.25
...,...,...,...,...,...,...,...,...,...
21960,12,VERDES,54801-VERDES (SAMAMBAIA PRETA),0143087-OSORIO (RS),RIO GRANDE DO SUL,ATACADISTA,45.00,1145.70,32.08
21961,12,VIOLETA,51801-VIOLETA,0135480-SANTO ANTONIO DE POSSE (SP),SAO PAULO,ATACADISTA,48.40,2688.40,54.34
21962,12,VIOLETA,51806-VIOLETA MINI 15UN,0135480-SANTO ANTONIO DE POSSE (SP),SAO PAULO,ATACADISTA,16.00,480.00,30.94
21963,12,YACON,12201-YACON,0135503-SAO PAULO (SP),SAO PAULO,ATACADISTA,3340.00,53440.00,14.71
21964,12,YACON,12201-YACON,0143024-CANOAS (RS),RIO GRANDE DO SUL,ATACADISTA,300.00,4800.00,14.71

In [23]:
with pd.ExcelWriter(r'C:\Users\divtec-dados\Desktop\Dados Comercialização, Volume e Cotação Anual 2023.xlsx') as writer:
    df_final.to_excel(writer, sheet_name='Dados', index=False)