In [1]:
import pandas as pd
import warnings
import json
from datetime import datetime
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.2f}'.format

In [15]:
%%sql
SELECT 
    data,
    weekofyear(data) AS semana,
    numeroNotaFiscal, 
    destino, 
    procedencia, 
    cad_cidades.estado as estado,
    divtec_notasfiscais.produto,
    grupo,
    unidade, 
    unidade_peso, 
    quantidade, 
    volume,
    cad_usuarios.tipo,
    nome_usuario_sistema
FROM 
    divtec_notasfiscais
LEFT JOIN
    cad_usuarios
        ON cad_usuarios.matricula_nome = divtec_notasfiscais.destino
LEFT JOIN
    cad_cidades ON divtec_notasfiscais.procedencia = cad_cidades.cidade
LEFT JOIN divtec_produtos ON divtec_notasfiscais.produto = divtec_produtos.produto
WHERE data >= '2024-08-01' and data < '2024-09-01' and grupo = 'FLORES'

,data,semana,numeroNotaFiscal,destino,procedencia,estado,produto,grupo,unidade,unidade_peso,quantidade,volume,tipo,nome_usuario_sistema
0,2024-08-01,31,56073922,0100037-YOSHIHIRO TAKEUCHI,0143024-CANOAS (RS),RIO GRANDE DO SUL,12301-FLORES COMESTIVEIS,FLORES,UND,0.03,20.00,0.60,PRODUTOR,Deise
1,2024-08-06,32,333,0100037-YOSHIHIRO TAKEUCHI,0143024-CANOAS (RS),RIO GRANDE DO SUL,12301-FLORES COMESTIVEIS,FLORES,OUTROS,0.05,10.00,0.50,PRODUTOR,Nicolly
2,2024-08-08,32,56188699,0100037-YOSHIHIRO TAKEUCHI,0143241-PAROBE (RS),RIO GRANDE DO SUL,12301-FLORES COMESTIVEIS,FLORES,OUTROS,0.05,20.00,1.00,PRODUTOR,Nicolly
3,2024-08-09,32,90820001,0102230-MARIA INES DE JESUS,0143165-ALVORADA (RS),RIO GRANDE DO SUL,12301-FLORES COMESTIVEIS,FLORES,OUTROS,0.05,20.00,1.00,PRODUTOR,Jessica
4,2024-08-13,33,56253657,0100037-YOSHIHIRO TAKEUCHI,0143024-CANOAS (RS),RIO GRANDE DO SUL,12301-FLORES COMESTIVEIS,FLORES,UND,0.03,20.00,0.60,PRODUTOR,Deise
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,2024-08-23,34,4683,5500841-CONCEICAO DA ROSA MOLLER,0143213-PORTAO (RS),RIO GRANDE DO SUL,ZAMIOCULCA,FLORES,UND,2.00,4.00,8.00,ATACADISTA,Mateus
309,2024-08-26,35,3673999,5501050-BONET& FREITAS COM. VAR,0135480-SANTO ANTONIO DE POSSE (SP),SAO PAULO,ZAMIOCULCA,FLORES,UND,2.00,18.00,36.00,ATACADISTA,Simone
310,2024-08-26,35,4701,5500841-CONCEICAO DA ROSA MOLLER,0143213-PORTAO (RS),RIO GRANDE DO SUL,ZAMIOCULCA,FLORES,UND,2.00,4.00,8.00,ATACADISTA,Simone
311,2024-08-27,35,4702,5500841-CONCEICAO DA ROSA MOLLER,0143213-PORTAO (RS),RIO GRANDE DO SUL,ZAMIOCULCA,FLORES,UND,2.00,4.00,8.00,ATACADISTA,Luiz
312,2024-08-30,35,4711,5500841-CONCEICAO DA ROSA MOLLER,0143213-PORTAO (RS),RIO GRANDE DO SUL,ZAMIOCULCA,FLORES,UND,2.00,6.00,12.00,ATACADISTA,Luiz

In [16]:
df['data'] = df['data'].astype('datetime64[ns]')

## Semana

In [38]:
semana = df.copy(deep=True)

In [39]:
semana = semana.groupby(['semana','produto'])['volume'].sum().reset_index()
semana['semana'] = semana['semana'].astype('str')

In [41]:
semana_pivot = pd.pivot_table(data=semana, columns='semana',index='produto',values='volume')
semana_pivot['total'] = semana_pivot.sum(axis=1)
semana_pivot = semana_pivot.fillna(0)
semana_pivot

semana                          31      32      33      34     35   total
produto
12301-FLORES COMESTIVEIS      0.60    2.50    3.88   21.00   5.70   33.68
50001-ANTURIO VASO            0.00    0.00    0.00    0.00  10.80   10.80
50102-ASTER                   0.00    2.50    0.00    0.00  20.00   22.50
50202-ASTROMELIA             15.00 3940.00 1420.00 1440.00 610.00 7425.00
50401-BEGONIA                 0.00    0.00    7.20    0.00   0.00    7.20
50801-CACTUS                  0.00    2.10    0.00   57.30   6.30   65.70
50806-CACTUS MINI 15UN       16.00   92.00   40.00   52.00  50.00  250.00
51402-GERBERA 12UN            0.00    0.00    0.00   30.00   0.00   30.00
51501-GIRASSOL VASO           0.00  266.40    0.00   72.00   0.00  338.40
51601-CRAVO                   0.00   43.20    0.00    0.00   0.00   43.20
51701-CRISANTEMO              1.20    0.00    0.00  336.00   0.00  337.20
51702-CRISANTEMO VASO      3704.40  423.00  253.80  375.30 162.90 4919.40
51801-VIOLETA                 0.00    4.40    4.40    4.40  11.00   24.20
51802-LISIANTHUS              0.00    8.00    0.00    0.16   0.00    8.16
52001-KALANCHOE               2.40   49.20  110.40  151.40  86.40  399.80
52006-KALANCHOE MINI15UN      0.00    0.00  180.00    0.00   0.00  180.00
52101-SAMAMBAIA CUIA         48.00    9.00   19.50  108.00  11.70  196.20
52201-GLOXINIA VASO           6.80   17.00   20.40   27.20  13.60   85.00
52301-ORQUIDEA VASO           4.00   10.00   28.00   74.00   6.00  122.00
52601-SUCULENTAS              3.20    0.00    0.40   33.20   1.80   38.60
52606-SUCULENTAS MINI 15UN   15.00   90.00   52.50   18.00  66.00  241.50
52702-TANGO                   0.00   16.80    0.00    0.00   0.00   16.80
52901-TULIPA                  1.20    3.00    1.80    2.40   1.80   10.20
53004-VERDES ASPARGO          0.00   10.00   11.50   10.00   1.50   33.00
53501-KALANDIVA VASO          0.00    2.40    3.00    4.80  18.00   28.20
53601-LIRIO DA PAZ            2.40   67.20   17.40   12.30   3.60  102.90
54601-ROSA VERMELHA 20UN      9.70  233.78  112.40  141.56  74.80  572.24
54701-MOSQUITINHO             0.00   30.00    0.00    0.00  12.00   42.00
ZAMIOCULCA                   24.00   96.00   24.00   72.00  64.00  280.00

In [47]:
semana_pivot.to_excel('Dados Flores Semanal.xlsx')

## Cotação

In [48]:
%%sql
CALL CotacaoEmQuilogramasPorPeriodo('2024-08-01','2024-08-31')

,data,produto,unidade,mais_frequente,peso em KG,Preço por Kg
0,2024-08-01,00101-ABACATE,KG,5.55,1.00,5.55
1,2024-08-01,00201-ABACAXI CAIENA (HAWAI),UND,7.00,1.80,3.89
2,2024-08-01,00202-ABACAXI PEROLA,UND,6.00,1.30,4.62
3,2024-08-01,00350-AMEIXA IMPORTADA,KG,16.67,1.00,16.67
4,2024-08-01,00401-AMORA PRETA,KG,120.00,1.00,120.00
...,...,...,...,...,...,...
4827,2024-08-30,54901-ROSA COLORIDA 20UN,MOL,60.00,0.60,100.00
4828,2024-08-30,54950-ROSA IMPORTADA,MOL,0.00,0.60,0.00
4829,2024-08-30,FOLHAGENS VARIADAS,UND,20.00,0.00,NaN
4830,2024-08-30,MANGOSTAO,KG,50.00,1.00,50.00
4831,2024-08-30,ZAMIOCULCA,UND,35.00,2.00,17.50

In [51]:
cotacao = cotacao.groupby(['produto'])['Preço por Kg'].mean().reset_index()

## Valores Comercializados

In [53]:
valores = semana.merge(cotacao, on=['produto'], how='left')
valores['valor comercializado'] = valores['volume'] * valores['Preço por Kg']
valores

,semana,produto,volume,Preço por Kg,valor comercializado
0,31,12301-FLORES COMESTIVEIS,0.60,345.45,207.27
1,31,50202-ASTROMELIA,15.00,65.91,988.63
2,31,50806-CACTUS MINI 15UN,16.00,21.82,349.09
3,31,51701-CRISANTEMO,1.20,203.03,243.64
4,31,51702-CRISANTEMO VASO,3704.40,20.45,75770.13
...,...,...,...,...,...
95,35,53501-KALANDIVA VASO,18.00,26.44,475.91
96,35,53601-LIRIO DA PAZ,3.60,61.06,219.82
97,35,54601-ROSA VERMELHA 20UN,74.80,102.80,7689.17
98,35,54701-MOSQUITINHO,12.00,107.43,1289.11
99,35,ZAMIOCULCA,64.00,13.82,884.21

In [54]:
valores_pivot = pd.pivot_table(data=valores, columns='semana',index='produto',values='valor comercializado')
valores_pivot['total'] = valores_pivot.sum(axis=1)
valores_pivot = valores_pivot.fillna(0)
valores_pivot

semana,31,32,33,34,35,total
produto,,,,,,
12301-FLORES COMESTIVEIS,207.27,863.63,1340.35,7254.49,1969.08,11634.82
50001-ANTURIO VASO,0.00,0.00,0.00,0.00,1210.89,1210.89
50102-ASTER,0.00,198.48,0.00,0.00,1587.86,1786.35
50202-ASTROMELIA,988.63,259680.03,93590.26,94908.44,40204.27,489371.62
50401-BEGONIA,0.00,0.00,439.64,0.00,0.00,439.64
50801-CACTUS,0.00,57.43,0.00,1567.05,172.29,1796.78
50806-CACTUS MINI 15UN,349.09,2007.27,872.73,1134.55,1090.91,5454.55
51402-GERBERA 12UN,0.00,0.00,0.00,2604.55,0.00,2604.55
51501-GIRASSOL VASO,0.00,7548.20,0.00,2040.05,0.00,9588.26
51601-CRAVO,0.00,1346.25,0.00,0.00,0.00,1346.25
51701-CRISANTEMO,243.64,0.00,0.00,68218.69,0.00,68462.33
51702-CRISANTEMO VASO,75770.13,8652.08,5191.25,7676.42,3331.97,100621.85
51801-VIOLETA,0.00,210.90,210.90,210.90,527.25,1159.95
51802-LISIANTHUS,0.00,1130.18,0.00,22.60,0.00,1152.79
52001-KALANCHOE,60.51,1240.51,2783.59,3817.34,2178.46,10080.41
52006-KALANCHOE MINI15UN,0.00,0.00,5208.95,0.00,0.00,5208.95
52101-SAMAMBAIA CUIA,4763.63,893.18,1935.22,10718.17,1161.13,19471.33
52201-GLOXINIA VASO,43.62,109.05,130.86,174.48,87.24,545.24
52301-ORQUIDEA VASO,490.91,1227.27,3436.36,9081.82,736.36,14972.73
52601-SUCULENTAS,234.18,0.00,29.27,2429.64,131.73,2824.82
52606-SUCULENTAS MINI 15UN,443.18,2659.09,1551.14,531.82,1950.00,7135.23
52702-TANGO,0.00,1196.37,0.00,0.00,0.00,1196.37
52901-TULIPA,74.00,185.00,111.00,148.00,111.00,629.02
53004-VERDES ASPARGO,0.00,800.00,920.00,800.00,120.00,2640.00
53501-KALANDIVA VASO,0.00,63.45,79.32,126.91,475.91,745.60
53601-LIRIO DA PAZ,146.55,4103.38,1062.48,751.07,219.82,6283.31
54601-ROSA VERMELHA 20UN,997.12,24031.73,11554.31,14551.85,7689.17,58824.19
54701-MOSQUITINHO,0.00,3222.78,0.00,0.00,1289.11,4511.89
ZAMIOCULCA,331.58,1326.32,331.58,994.74,884.21,3868.42

In [55]:
valores_pivot.to_excel('Flores Valores Comercializados.xlsx')

In [2]:
%%sql
SELECT
    data,
    weekofyear(data) AS semana,
    numeroNotaFiscal,
    destino,
    procedencia,
    cad_cidades.estado as estado,
    divtec_notasfiscais.produto,
    grupo,
    unidade,
    unidade_peso,
    quantidade,
    volume,
    cad_usuarios.tipo,
    nome_usuario_sistema
FROM
    divtec_notasfiscais
LEFT JOIN
    cad_usuarios
        ON cad_usuarios.matricula_nome = divtec_notasfiscais.destino
LEFT JOIN
    cad_cidades ON divtec_notasfiscais.procedencia = cad_cidades.cidade
LEFT JOIN divtec_produtos ON divtec_notasfiscais.produto = divtec_produtos.produto
WHERE EXTRACT(MONTH FROM data) = 5 and EXTRACT(YEAR FROM data) = 2023 and grupo = 'FLORES'

Exception: [42S22][1054] Unknown column 'grupo' in 'field list'