In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('PRODUTORES.csv', sep=',')
df['CPF'] = df['CPF'].astype('str')
df['MATRICULA'] = df['MATRICULA'].astype('str')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [3]:
# Identificando as linhas duplicadas no DataFrame
duplicatas = df['NOME - RAZÃO SOCIAL'].duplicated(keep=False)

# Selecionando as linhas duplicadas com base no resultado anterior
linhas_duplicadas = df[duplicatas]

linhas_duplicadas

,MATRICULA,NOME - RAZÃO SOCIAL,CPF,SITUAÇÃO,GNP-P MATRICULA,GRUPO DE VIZINHANÇA
54,100376.0,JUAREZ LUIZ ESSVEIN,nan,NaN,NaN,NaN
67,100495.0,ALZIDIO MEDEIROS DA SILV,nan,NaN,NaN,NaN
77,100586.0,LUCIANO OVALHE NUNES,nan,NaN,NaN,NaN
89,100692.0,JOSE VOLMIR HAUSER,nan,NaN,NaN,NaN
90,100694.0,IVANIR ALCEU PIEROZAN,nan,NaN,NaN,NaN
...,...,...,...,...,...,...
1913,116661.0,ADRIANO JOSE CALSING,82838917072.0,ATIVO,NaN,NaN
1915,116664.0,SANTA LUZIA DA LUZ LEFFA,nan,NaN,NaN,NaN
1929,116701.0,JANILDO DA LUZ SCHWANCK,nan,NaN,NaN,NaN
1932,116705.0,TAKAHIRO GENBA,2818268036.0,ATIVO,NaN,NaN
1934,116713.0,LISANDRO DA ROSA KHUN,nan,NaN,NaN,NaN

In [4]:
linhas_duplicadas.to_excel('lista_duplicados.xlsx', index=False)