In [2]:
import json

import pandas as pd

In [35]:
lista_ceasa_online = {}
caminho = r'C:\Users\divtec-dados\DataspellProjects\Notebooks\Ceasa\Dados\JSON\lista_nomes_produtos_ceasa_online.json'

with open(caminho, encoding='utf-8') as arquivo_json:
	dados = json.load(arquivo_json)
	lista_ceasa_online.update(dados)


def ajuste_produto(x):
	return lista_ceasa_online.get(x, x)


ajuste_unidade = {
	0: "KG",
	1: "CX",
	2: "SACO",
	3: "ENG",
	4: "UND",
	5: "DZ",
	6: "CXT",
	7: "SCL",
	8: "MOL",
	9: "OUTROS"
}

---
### Modelo de Dados Ceasa Online
---

In [36]:
pesos_ceasa_online = pd.read_csv(
	r'C:\Users\divtec-dados\DataspellProjects\Notebooks\Ceasa\Dados\pesos_produtos_ceasa_online.csv', sep=";")
pesos_ceasa_online.head(3)

           produto  codigo unidade    peso
0  Abacate Avocado       1      KG   1,000
1    Abacate Comum     218      KG   1,000
2    Abacate Comum     218      CX  18,000

---
### Notas Fiscais 2018 a 2022
---

In [37]:
df_2018_2022 = pd.read_csv(
	r'C:\Users\divtec-dados\DataspellProjects\Notebooks\Ceasa\Dados\divtec_old_notas_fiscais_copia.csv')
df_2018_2022['data'] = df_2018_2022['data'].astype('datetime64[ns]')
df_2018_2022['produto'] = df_2018_2022['produto'].apply(lambda texto: str.strip(texto))
df_2018_2022['ano'] = df_2018_2022['data'].dt.year
df_2018_2022['mes'] = df_2018_2022['data'].dt.month
df_2018_2022 = df_2018_2022[
	['ano', 'mes', 'data',
	 'nota_fiscal', 'procedencia', 'destino',
	 'matricula', 'produto', 'unidade_str', 'quantidade'
	 ]]
df_2018_2022

,ano,mes,data,nota_fiscal,procedencia,destino,matricula,produto,unidade_str,quantidade
0,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,02301-MORANGO,CX,25.0
1,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,04501-ALFACE,CX,65.0
2,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,07002-PEPINO SALADA,CX,5.0
3,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,07201-PIMENTAO,CX,10.0
4,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,07405-TOMATE CEREJA (MINI TOMATES),OUTROS,25.0
...,...,...,...,...,...,...,...,...,...,...
4447426,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,00101-ABACATE,KG,2000.0
4447427,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,01001-GOIABA,KG,8100.0
4447428,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,01001-GOIABA,KG,8100.0
4447429,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,03302-UVA COMUM DE MESA,CX,400.0
4447430,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,03302-UVA COMUM DE MESA,CX,400.0

In [38]:
df_2018_2022['produto'] = df_2018_2022['produto'].apply(ajuste_produto)
df_2018_2022.rename(columns={'unidade_str': 'unidade'}, inplace=True)
df_2018_2022['unidade'] = df_2018_2022['unidade'].apply(lambda texto: str.strip(texto))
df_2018_2022 = pd.merge(df_2018_2022, pesos_ceasa_online, how='left', on=['produto', 'unidade'])
df_2018_2022

,ano,mes,data,nota_fiscal,procedencia,destino,matricula,produto,unidade,quantidade,codigo,peso
0,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,Morango,CX,25.0,152.0,"1,000"
1,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,Alface Crespa,CX,65.0,14.0,"5,000"
2,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,Pepino Salada,CX,5.0,166.0,"18,000"
3,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,Pimentão Verde,CX,10.0,175.0,"10,000"
4,2018,1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,Tomate Cereja (Mini Tomates),OUTROS,25.0,205.0,"2,400"
...,...,...,...,...,...,...,...,...,...,...,...,...
4447510,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,Abacate Comum,KG,2000.0,218.0,"1,000"
4447511,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,Goiaba,KG,8100.0,99.0,"1,000"
4447512,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,Goiaba,KG,8100.0,99.0,"1,000"
4447513,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,Uva Comum de Mesa,CX,400.0,207.0,"7,000"
4447514,2022,12,2022-12-30,5518,0141052-CARLOPOLIS (PR),5501109-FRUNORT TRANSPORTES EIRE,377433570001,Uva Comum de Mesa,CX,400.0,207.0,"7,000"

In [40]:
erros = df_2018_2022[df_2018_2022['codigo'].isna()]
erros = erros[['produto', 'unidade']].drop_duplicates()
erros = erros.sort_values(by=['produto', 'unidade']).sort_values('produto')
erros

                         produto unidade
2898294      02650-NOZ IMPORTADA      KG
3827572   03701-MARMELO NACIONAL      KG
2176379  03750-MARMELO IMPORTADO      KG
573255        Flores Comestíveis     UND
140691                   Nespera     CXT
1000629            Pepino Salada     CXT
4331945                    Pinha    SACO
1860055                   Pitaya     CXT
759869                  Rabanete    SACO
97005                       Romã     CXT
323533             Rosa Vermelha      KG
4178                      Rúcula      KG
3848564           Samambaia Cuia      KG
1910687           Samambaia Cuia     MOL
3660284               Suculentas      KG
3994238          Suculentas Mini      KG
490                       Sálvia      DZ
24609                     Sálvia      KG
3638614                    Tango      KG
110                Tomate Gaucho     CXT
4282527           Verdes Aspargo      KG
466001                   Violeta      CX
3977738                  Violeta      KG
1720                       Yacon      CX

In [41]:
erros_rows = df_2018_2022[df_2018_2022['codigo'].isna()]
erros_rows

,ano,mes,data,nota_fiscal,procedencia,destino,matricula,produto,unidade,quantidade,codigo,peso
110,2018,1,2018-01-02,362517,0143029-CAXIAS DO SUL (RS),0100095-AMARILDO ANTONIO SCARIOT,475116720,Tomate Gaucho,CXT,300.0,NaN,NaN
490,2018,1,2018-01-02,67021,0143165-ALVORADA (RS),0102230-MARIA INES DE JESUS,510510440,Sálvia,DZ,10.0,NaN,NaN
1278,2018,1,2018-01-02,741962,0143029-CAXIAS DO SUL (RS),0114602-PEDRO VANDERLEI MELO SCH,0,Tomate Gaucho,CXT,10.0,NaN,NaN
1720,2018,1,2018-01-02,113279,0135503-SAO PAULO (SP),5500416-DICO COMERCIAL FR. E LEG,895131130001,Yacon,CX,15.0,NaN,NaN
3253,2018,1,2018-01-04,418,0143029-CAXIAS DO SUL (RS),0100095-AMARILDO ANTONIO SCARIOT,475116720,Tomate Gaucho,CXT,50.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4439648,2022,12,2022-12-27,259994,0135503-SAO PAULO (SP),5500876-COMERCIAL AGRICOLA DE GR,59682980001,Yacon,CX,8.0,NaN,NaN
4444945,2022,12,2022-12-29,260260,0135503-SAO PAULO (SP),5500416-DICO COMERCIAL FR. E LEG,895131130001,Yacon,CX,10.0,NaN,NaN
4444946,2022,12,2022-12-29,260260,0135503-SAO PAULO (SP),5500416-DICO COMERCIAL FR. E LEG,895131130001,Yacon,CX,10.0,NaN,NaN
4445973,2022,12,2022-12-29,2994358,0135480-SANTO ANTONIO DE POSSE (SP),5501050-BONET& FREITAS COM. VAR,300985830001,Rosa Vermelha,KG,10.0,NaN,NaN
4445974,2022,12,2022-12-29,2994358,0135480-SANTO ANTONIO DE POSSE (SP),5501050-BONET& FREITAS COM. VAR,300985830001,Rosa Vermelha,KG,10.0,NaN,NaN

### Notas Fiscais 2023 e 2024

In [ ]:
df_2023_2024 = pd.read_excel(
	r'C:\Users\divtec-dados\Desktop\Márcio - Legados e Importantes\Notas Fiscais\Notas Fiscais 2023-2024.xlsx',
	decimal=',')

In [ ]:
df_2023_2024

---
### Merge dataframes
---