In [43]:
import pandas as pd
from pprint import pprint
import warnings
import locale
import re
import unicodedata

warnings.filterwarnings('ignore')
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')
pd.options.display.float_format = '{:.3f}'.format

caminho = "Dados/Dados_de_cadastro_GCA.parquet"
df = pd.read_parquet(caminho)

def substituir_caracteres(texto, ajustes):
	for original, novo in ajustes.items():
		texto = texto.replace(original, novo)
	return texto


def encontrar_valor(x, valor_busca, ajustes_textos):
	try:
		x = substituir_caracteres(str(x).upper().strip(), ajustes_textos)
		return valor_busca in x
	except Exception:
		return False

In [44]:
pessoa = 'JOCEMAR CATUZZO'

In [45]:
ajustes_textos = {}

valor_busca = pessoa.upper().strip()

resultado = df.astype(str).applymap(lambda x: encontrar_valor(x, valor_busca, ajustes_textos))
linhas_com_valor = df[resultado.any(axis=1)]

colunas_chave = ['nome', 'matricula', 'cpf_cnpj', 'data_nascimento', 'nome_mae', 'nome_pai', 'cod_municipio_desc']
colunas_exibir = ['nome', 'matricula', 'data_nascimento', 'cpf_cnpj', 'data_cadastro', 'nome_mae', 'nome_pai',
				  'cod_municipio_desc']

pesquisa = linhas_com_valor.drop_duplicates(subset=colunas_chave)
pesquisa['data_nascimento'] = pesquisa['data_nascimento'].astype(str)

resultado_final = pesquisa[colunas_exibir]

resultado_final

,nome,matricula,data_nascimento,cpf_cnpj,data_cadastro,nome_mae,nome_pai,cod_municipio_desc
8677,JOCEMAR CATUZZO,100763,50919760,72119780072,12052000,CLAUDINA CANTELE CATUZZO,WALDEMAR CATUZZO,CAXIAS DO SUL
19285,JOCEMAR CATUZZO,309367,50919760,72119780072,20082015,CLAUDINA CANTELE CATUZZO,WALDEMAR CATUZZO,CAXIAS DO SUL
23922,JOCEMAR CATUZZO,500919,50919760,72119780072,2102012,CLAUDINA CANTELE CATUZZO,WALDEMAR CATUZZO,CAXIAS DO SUL
28541,JOCEMAR CATUZZO,309230,50919760,72119780072,24042015,CLAUDINA CANTELE CATUZZO,WALDEMAR CATUZZO,CAXIAS DO SUL
31499,JOCEMAR CATUZZO,115472,50919760,72119780072,8012016,CLAUDINA CANTELE CATUZZO,WALDEMAR CATUZZO,CAXIAS DO SUL