In [1]:
import pandas as pd
import numpy as np
import locale
import os
from datetime import datetime
import warnings
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')
warnings.filterwarnings('ignore')

# Configurações do Pandas
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.precision', 2)

In [11]:
lista_de_flores = [
	"51701-CRISANTEMO VASO",
	"53004-VERDES ASPARGO",
	"50102-ASTER",
	"53204-VERDES RUSCUS",
"53104-VERDES EUCALIPTUS",
"50001-ANTURIO VASO",
"50806-CACTUS MINI 15UN",
"53501-KALANDIVA VASO",
"53602-LIRIO MOLHE",
"50602-BOCA DE LEAO",
"50701-BONSAI",
"51402-GERBERA 12UN",
	"54701-MOSQUITINHO",
"51502-GIRASSOL 6UN",
"50401-BEGONIA",
"50202-ASTROMELIA",
"53601-LIRIO DA PAZ",
"51501-GIRASSOL VASO",
"52301-ORQUIDEA VASO",
"52901-TULIPA",
"51802-LISIANTHUS",
"52601-SUCULENTAS",
"52702-TANGO",
"50801-CACTUS",
"52606-SUCULENTAS MINI 15UN",
"52801-THUIA CIPRESTE VASO",
	"52201-GLOXINIA VASO",
"05102-ERVAS AROMATICAS",
	"12301-FLORES COMESTIVEIS",
	"03501-ENDIVIA",
"51601-CRAVO",
"51701-CRISANTEMO VASO",
"51801-VIOLETA",
"52001-KALANCHOE",
"51702-CRISANTEMO",
	"51701-CRISANTEMO",
"51901-AZALEIA VASO"
]

lista_replace ={
	"51702-CRISANTEMO":"51701-CRISANTEMO",
	"51701-CRISANTEMO VASO":"51702-CRISANTEMO VASO"
}

Dados Anos anteriores

In [12]:
%%sql
SELECT produto, tipo as unidade_str, valor as peso_kg FROM divtec_pesos_produtos_pivot;

                           produto unidade_str  peso_kg
0                    00101-ABACATE          KG     1.00
1     00201-ABACAXI CAIENA (HAWAI)          KG     1.00
2             00202-ABACAXI PEROLA          KG     1.00
3     00203-ABACAXI TERRA DE AREIA          KG     1.00
4            00301-AMEIXA NACIONAL          KG     1.00
...                            ...         ...      ...
2717                     FRAMBOESA         SCL     0.00
2718                     FRAMBOESA        SACO     0.00
2719                     FRAMBOESA         BDJ     0.10
2720                     FRAMBOESA         UND     0.00
2721                     FRAMBOESA      OUTROS     0.00

[2722 rows x 3 columns]

In [5]:
# caminho_arquivos = r"C:\Users\divtec-dados\Desktop\Migração"
# # Inicialize uma lista para armazenar os dataframes
# dataframes = []
#
# # Loop pelos arquivos no diretório
# for arquivo in os.listdir(caminho_arquivos):
#     # Verifique se o arquivo é um CSV
#     if arquivo.endswith(".csv"):
#         # Leia o arquivo CSV e adicione à lista de dataframes
#         df = pd.read_csv(os.path.join(caminho_arquivos, arquivo))
#         dataframes.append(df)
#
# # Concatene os dataframes
# dados_concatenados = pd.concat(dataframes, ignore_index=True)
# dados_concatenados['data'] = dados_concatenados['data'].astype('datetime64[ns]')
#
# # Visualize os dados concatenados
# dados_concatenados.to_parquet('2018-2023.parquet')
dados_concatenados = pd.read_parquet(r'D:\Codigos\CEASA-Dados\2018-2023.parquet')
dados_concatenados

,data,nota_fiscal,procedencia,destino,matricula,produto,unidade,unidade_str,quantidade
0,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,02301-MORANGO,1,CX,25.00
1,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,04501-ALFACE,1,CX,65.00
2,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,07002-PEPINO SALADA,1,CX,5.00
3,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,07201-PIMENTAO,1,CX,10.00
4,2018-01-02,506164,0143233-BOM PRINCIPIO (RS),-105142,300385530,07405-TOMATE CEREJA (MINI TOMATES),9,OUTROS,25.00
...,...,...,...,...,...,...,...,...,...
5019875,2023-11-30,704328,0143440-DOM PEDRO DE ALCANTARA (RS),5801941-J.B. COM. DE HORT. E TRA,338515660001,00503-BANANA PRATA / BRANCA,0,KG,"2,028.00"
5019876,2023-11-30,251554,0143440-DOM PEDRO DE ALCANTARA (RS),5801942-S LEFFA EVALDT,322570590001,00501-BANANA CATURRA / NANICA,0,KG,300.00
5019877,2023-11-30,251554,0143440-DOM PEDRO DE ALCANTARA (RS),5801942-S LEFFA EVALDT,322570590001,00503-BANANA PRATA / BRANCA,0,KG,300.00
5019878,2023-11-30,243199,0143440-DOM PEDRO DE ALCANTARA (RS),5801944-RENATO SCHARDOSIM DA SIL,222484200001,00501-BANANA CATURRA / NANICA,1,CX,150.00
5019879,2023-11-30,243199,0143440-DOM PEDRO DE ALCANTARA (RS),5801944-RENATO SCHARDOSIM DA SIL,222484200001,00503-BANANA PRATA / BRANCA,1,CX,150.00

In [16]:
lista_verificacao = {
    "51701-CRISANTEMO": ["ENG", "MOL"],
    "51702-CRISANTEMO": ["ENG", "MOL"],
	"03501-ENDIVIA":["SCL","CXT"],
	"05102-ERVAS AROMATICAS":["ENG",""]
}
lista_replace ={
	"51702-CRISANTEMO":"51701-CRISANTEMO",
	"51701-CRISANTEMO VASO":"51702-CRISANTEMO VASO"
}

def substituir_unidade(row):
    produto = row['produto']
    unidade = row['unidade_str']

    if produto in lista_verificacao:
        unidade_antiga, unidade_nova = lista_verificacao[produto]
        if unidade == unidade_antiga:
            return unidade_nova
    return unidade

dados_brutos = dados_concatenados.copy(deep=True)
dados_brutos['data'] = pd.to_datetime(dados_brutos['data'], format='%d/%m/%Y')
dados_brutos['MÊS'] = dados_brutos['data'].dt.month
dados_brutos = dados_brutos[dados_brutos['produto'].isin(lista_de_flores)]

dados_brutos['unidade_str'] = dados_brutos.apply(substituir_unidade, axis=1)
dados_brutos['produto'] = dados_brutos['produto'].replace(lista_replace)

dados_brutos = pd.merge(dados_brutos,pesos, on=['produto','unidade_str'], how='left')
dados_brutos['volume'] = dados_brutos['peso_kg'] * dados_brutos['quantidade']
dados_brutos = dados_brutos[['data','destino','procedencia','produto','quantidade','unidade_str','peso_kg','volume']]
dados_brutos

,data,destino,procedencia,produto,quantidade,unidade_str,peso_kg,volume
0,2018-01-09,0114212-GILBERTO FROHLICH,0143400-SANTA CLARA DO SUL (RS),51701-CRISANTEMO,108.00,MOL,0.30,32.40
1,2018-01-10,5500030-SAO PAULO SUL FLORES LTD,0135480-SANTO ANTONIO DE POSSE (SP),51601-CRAVO,144.00,OUTROS,3.00,432.00
2,2018-01-10,5500030-SAO PAULO SUL FLORES LTD,0135480-SANTO ANTONIO DE POSSE (SP),51702-CRISANTEMO VASO,12.00,UND,0.90,10.80
3,2018-01-10,5500030-SAO PAULO SUL FLORES LTD,0135480-SANTO ANTONIO DE POSSE (SP),51701-CRISANTEMO,40.00,MOL,0.30,12.00
4,2018-01-10,5500030-SAO PAULO SUL FLORES LTD,0135480-SANTO ANTONIO DE POSSE (SP),51801-VIOLETA,120.00,ENG,0.00,0.00
...,...,...,...,...,...,...,...,...
26235,2023-11-30,5501104-ESTACAO DAS FLORES COM.,0135480-SANTO ANTONIO DE POSSE (SP),51701-CRISANTEMO,23.00,MOL,0.30,6.90
26236,2023-11-30,5501104-ESTACAO DAS FLORES COM.,0135480-SANTO ANTONIO DE POSSE (SP),51801-VIOLETA,40.00,ENG,0.00,0.00
26237,2023-11-30,5501104-ESTACAO DAS FLORES COM.,0135480-SANTO ANTONIO DE POSSE (SP),52001-KALANCHOE,48.00,KG,1.00,48.00
26238,2023-11-30,5501104-ESTACAO DAS FLORES COM.,0135480-SANTO ANTONIO DE POSSE (SP),52001-KALANCHOE,180.00,ENG,0.00,0.00
26239,2023-11-30,5501104-ESTACAO DAS FLORES COM.,0143035-DOIS IRMAOS (RS),51501-GIRASSOL VASO,5.00,ENG,0.00,0.00

In [101]:
dados_2024 = pd.read_parquet(r'D:\Codigos\CEASA-Dados\__Comparativo 2023-2024\Fechamento 2024.parquet')
df_2024 = dados_2024.copy(deep=True)
# df_2024 = df_2024.loc[df_2024['MÊS'] == 5]
df_2024 = df_2024.rename(columns=lambda x: x.lower())
df_2024 = df_2024.loc[df_2024['produto'].isin(lista_de_flores)]
df_2024['produto'] = df_2024['produto'].replace(lista_replace)
df_2024 = df_2024[['data','destino','procedencia','produto','quantidade','unidade_str','peso_kg','volume']]

In [116]:
flores = pd.concat([dados_brutos, df_2024])
flores['semana'] = (flores['data'].dt.day - 1) // 7 + 1
flores['Ano'] = flores['data'].dt.year

flores = (flores.groupby(['produto', 'Ano', 'semana'])['volume']
          .sum()
          .reset_index()
          .pivot_table(index='produto', values='volume', columns=['Ano', 'semana']))

flores = flores.fillna(0)
# Ordenar os níveis das colunas
flores = flores.sort_index(axis=1, level=[0, 1])

In [117]:
flores.to_excel('Dados das Flores entre os anos de 2018 e 2024.xlsx')